
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<button>@Html.ActionLink("Event", "Event", "Event", new { area = "" }, new { @class = "navbar-brand" })</button>
<button>@Html.ActionLink("Event", "Event", "Event", new { area = "" }, new { @class = "navbar-brand" })</button>
<button>@Html.ActionLink("Event", "Event", "Event", new { area = "" }, new { @class = "navbar-brand" })</button>
<button>@Html.ActionLink("Event", "Event", "Event", new { area = "" }, new { @class = "navbar-brand" })</button>
<button>@Html.ActionLink("Event", "Event", "Event", new { area = "" }, new { @class = "navbar-brand" })</button>


