
@{
    ViewBag.Title = "CreateEvent";
}

<br />
<div class="container_16">
    <div class="grid_3 push_4">
        <form></form>
            Eventnaam:
            <input class="form-control" type="text" name="Eventname"><br>
            Eventbeschrijving:
            <textarea class="form-control" type="text" name="Eventdescription" cols="60" rows="6"></textarea>
     
        <p>Locatie:</p>
        <select class="form-control">
            <option value="Tilburg">Tilburg</option>
            <option value="Eindhoven">Eindhoven</option>
            <option value="Amsterdam">Amsterdam</option>
            <option value="Den Haag">Den Haag</option>
        </select>
  
            Begin Eventdatum
            <input type="date" class="form-control" name="EventDate" min="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day"><br>
     
            Eind Eventdatum
            <input type="date" class="form-control" name="EventDate" min="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day"><br>
   
            Max aantal Bezoekers:
            <input class="form-control" type="number" name="quantity" min="5"><br />
      
        <button class="buttonstyle1">@Html.ActionLink("Materiaalbeheer", "Accountview", "Accountview", new { area = "" }, new { @class = "navbar-brand" })</button>
        <div class="push_3">
            <button class="buttonstyle2">@Html.ActionLink("Opslaan", "Accountview", "Accountview", new { area = "" }, new { @class = "navbar-brand" })</button>
        </div>
    </div>
    </form>

    <!--Account sidebar-->
    <div class="grid_1 push_11">
        <div class="logo">
            <img src="~/Content/Images/4Events.jpg">
            <p class="logotext">ICT4Events</p>
        </div>
        @Html.ActionLink("Account", "Accountview", "Accountview", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
    </div>
</div>

