@{
    ViewBag.Title = "TimelinePage";
}
@using MvcApplicationEvents.Models;
@using MvcApplicationEvents.Controllers;
@model List<Contribution>

<br />
<script type="text/javascript">
    function Like(link) {

        var MyAppUrlSettings = {
            MyUsefulUrl: '@Url.Action("Like", "TimelinePage")'
        }
        $.ajax({
            type: "POST",
            url: MyAppUrlSettings.MyUsefulUrl,
            data: link,
            dataType: "json"
        });
    }
</script>

<div class="container_16">
    <div class="grid_9 pull_1">
        @using (Html.BeginForm())
        {
            foreach (Contribution ctrib in Model)
            {
                <p>@ctrib.Message.Content @ctrib.Likes @ctrib.Reports</p>
                int TempID = ctrib.ID;
                <a name="link" href="#" onclick="javascript:Like(@TempID);">Like</a>
                @*<a href="#" onclick="@{((TimelinePageController)this.ViewContext.Controller).Report(Convert.ToInt32(ctrib.ID));};window.location.reload()">Report</a>*@
            }
        }
        <div class="grid_1 push_5">
            <form role="form" class="form-horizontal" method="post">
                <div class="form-group">
                    <input type="button" value="Filter Posts" class="btn btn-primary btnOpmaak7" />
                </div>
            </form>
        </div>
        <br />
        <div class="grid_1 pull_1">
            @using (@Html.BeginForm("TimelinePage", "TimelinePage"))
            {
                <input type="text" id="postbox" name="content" class="postbox" />
                <div class="form-group placeholdpost">
                    <button type="submit" id="postbtn" name="content" class="btn btn-primary btnOpmaak7" onclick="window.location.reload();">Post</button>
                </div>
            }
            <div class="grid_1">
                <div class="paddingfortimeline">
                    <select>
                        <option value="Mededeling">Mededeling</option>
                        <option value="Muziek">Muziek</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Gezelligheid">Gezelligheid</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!--Account sidebar-->
    <div class="grid_1 push_3">
        <div class="logo">
            <img src="~/Content/Images/4Events.jpg">
            <p class="logotext">ICT4Events</p>
        </div>
        @Html.ActionLink("Account", "Account", "Account", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
    </div>
</div>