
@{
    ViewBag.Title = "TimelinePage";
}
@using MvcApplicationEvents.Models;
@model List<Contribution>

<script type="text/javascript">

function getSelectedItems(){
    var items = "";
    var frm = document.forms[0].s1;
    var len = frm.length;
    for(i=0;i<len;i++){
        if(frm[i].selected){
            items += frm[i].value + "~";
        }
    }
    return items;
}

    function post()
    {
        document.getElementById('contrib').value = getSelectedItems();
    }

    function Getindex() {
        var x = document.getElementById("s1").selectedIndex;
        var y = document.getElementById("s1").options;
        var z = y[x].index;
        return setMyValue(z);
    }

    function setMyValue(value) {
        $('#Index').val(value);
        alert(value);
    }
</script>

<br />
<div class="container_16">
    <div class="grid_9 pull_1">
        <form id="form1">
            <div>
                 <select id="s1" class="timeline" size="20" name="Options">
                        @foreach (var C in Model)
                        {
                            <option>@C.PostID.ToString(), @C.Message.Title, @C.Likes.ToString(), @C.Reports.ToString()</option>
                        }
                 </select>
            </div>
        </form>
        <div class="grid_1 push_4">
            @Html.ActionLink("Filter Posts", "TimelinePage", "TimelinePage", new { area = "" }, new { @class = "btn btn-primary btnOpmaak" })
        </div>
        <div class="grid_1 push_9">
            <div class="marginsforbuttonstimeline">
                <form role="form" class="form-horizontal" method="post">
                    <div class="form-group">
                        @using (Html.BeginForm("btnSelectPost", "TimelinePageController"))
                        {
                            <input type="hidden" name="contrib" id="contrib" />
                            <input type="submit" value="Like" onclick="setMyValue()" class="btn btn-primary btnOpmaak1" />
                            @Html.Hidden("Index", null)
                        }                       
                    </div>
                </form>       
                <form role="form" class="form-horizontal" onclick="alert(getSelectedItems());" method="post">
                    <div class="form-group">
                         <input type="button" value="Report" class="btn btn-primary btnOpmaak1" />
                    </div>
                </form>  
                <form role="form" class="form-horizontal" onclick="alert(getSelectedItems());" method="post">
                    <div class="form-group">
                         <input type="button" value="Open" class="btn btn-primary btnOpmaak1" />
                    </div>
                </form>  
                <form role="form" class="form-horizontal" onclick="alert(getSelectedItems());" method="post">
                    <div class="form-group">
                         <input type="button" value="Download" class="btn btn-primary btnOpmaak1" />
                    </div>
                </form>  
                    </div>
            </div>
        <br />
        <div class="grid_1 pull_2">
            <form>
                <textarea class="postbox" type="text" name="Post Box" rows="5">Write text Here</textarea>
            </form>
            <div class="grid_1">
                <div class="paddingfortimeline">
                    <select>
                        <option value="Mededeling">Mededeling</option>
                        <option value="Muziek">Muziek</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Gezelligheid">Gezelligheid</option>
                    </select>
                    <button class="buttonstyle4">@Html.ActionLink("Post", "TimelinePage", "TimelinePage", new { area = "" }, new { @class = "navbar-brand" })</button>
                </div>
            </div>
        </div>
    </div>
    <!--Account sidebar-->
    <div class="grid_1 push_4">
        <div class="logo">
            <img src="~/Content/Images/4Events.jpg">
            <p class="logotext">ICT4Events</p>
        </div>
        @Html.ActionLink("Account", "Accountview", "Accountview", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
    </div>
</div>
