
@{
    ViewBag.Title = "TimelinePage";
}
@using MvcApplicationEvents.Models;
@model List<Contribution>

<script type="text/javascript">

function getSelectedItems(){
    var items = "";
    var frm = document.forms[0].s1;
    var len = frm.length;
    for(i=0;i<len;i++){
        if(frm[i].selected){
            items += frm[i].value + "~";
        }
    }
    return items;
}
</script>

<br />
<div class="container_16">
    <div class="grid_9 pull_1">
        <form id="form1">
            <div>
                    <select id="s1" class="timeline" size="20" name="Options">
                        @foreach (var C in Model)
                        {
                            <option>@C.PostID.ToString(), @C.Message.Title, @C.Likes.ToString(), @C.Reports.ToString()</option>
                        }
                    </select>
            </div>
        </form>
        <div class="grid_1 push_4">
            <button class="buttonstyle6">@Html.ActionLink("Filter Posts", "TimelinePage", "TimelinePage", new { area = "" }, new { @class = "navbar-brand" })</button>
        </div>
        <div class="grid_1 push_9">
            <div class="marginsforbuttonstimeline">
                <input type="button" value="Like" onclick="alert(getSelectedItems());" />
                <input type="button" value="Report" onclick="alert(getSelectedItems());" />
                <input type="button" value="Open" onclick="alert(getSelectedItems());" />
                <input type="button" value="Download" onclick="alert(getSelectedItems());" />
            </div>
        </div>
        <br />
        <div class="grid_1 pull_2">
            <form>
                <textarea class="postbox" type="text" name="Post Box" rows="5">Write text Here</textarea>
            </form>
            <div class="grid_1">
                <div class="paddingfortimeline">
                    <select>
                        <option value="Mededeling">Mededeling</option>
                        <option value="Muziek">Muziek</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Gezelligheid">Gezelligheid</option>
                    </select>
                    <button class="buttonstyle4">@Html.ActionLink("Post", "TimelinePage", "TimelinePage", new { area = "" }, new { @class = "navbar-brand" })</button>
                </div>
            </div>
        </div>
    </div>
    <!--Account sidebar-->
    <div class="grid_1 push_4">
        <div class="logo">
            <img src="~/Content/Images/4Events.jpg">
            <p class="logotext">ICT4Events</p>
        </div>
        <button class="buttonstyle">@Html.ActionLink("Account", "Accountview", "Accountview", new { area = "" }, new { @class = "navbar-brand" })</button>
    </div>
</div>
