
@{
    ViewBag.Title = "ReservationsPage";
}
@using MvcApplicationEvents.Models;
@model Event

<br />


    @{ int tel = 0; }
<div class="row">
    <div class="col-md-12">
        <div class="rows">
            @for (int i = 0; i < Model.Location.PlaceList.Count / 8; i++)
            {
                <div class="col-md-2">
                    @for (int k = 0; k < 8; k++)
                    {
                        using (Html.BeginForm("SeePlace", "ReservationsPage", Model.Location.PlaceList[tel]))
                        {
                            if (Model.Location.PlaceList[tel].GrayedOut == true)
                            {
                                <div class="DivStyle1"><input type="submit" value="@Model.Location.PlaceList[tel].Number" name="PlaceNumber" class="btn btn-primary" /></div>
                            }
                            else
                            {
                                <div class="DivStyle1"><input type="submit" value="@Model.Location.PlaceList[tel].Number" name="PlaceNumber" class="btn btn-default" /></div>
                            }
                            <input type="hidden" name="EventName" id="FullName" value="@Model.Name" />
                        }
                        tel = tel + 1;
                    }
                </div>
            }
        </div>
    </div>
</div>




    <div class="row">
        <div class="col-md-12 position1">

            <p>Huidige Locatie is @ViewBag.Place</p>

            @using (Html.BeginForm("Sort", "ReservationsPage", Model))
            {
                <select class="form-control" name="GOK">
                    <option value="Kleiner dan" selected>Kleiner dan</option>
                    <option value="Groter dan">Groter dan</option>
                </select>

                <input type="number" name="DM" min="1" max="100" class="form-control"><p> in dm³     </p><input name="test" value="test" type="submit" class="btn btn-primary" /><br />
            }
 
            @using (Html.BeginForm("btnCreateReservation", "ReservationsPage", Model))
            {            
                <input type="date" class="form-control" name="EventDatestart" min="@Model.DateStart.Year-@Model.DateStart.Month-@Model.DateStart.Day" max="@Model.DateEnd.Year-@Model.DateEnd.Month-@Model.DateEnd.Day"><br>
                <input type="date" class="form-control" name="EventDateend" min="@Model.DateStart.Year-@Model.DateStart.Month-@Model.DateStart.Day" max="@Model.DateEnd.Year-@Model.DateEnd.Month-@Model.DateEnd.Day"><br>
                
                <input name="PlaceNumber" type="hidden" value="@ViewBag.Place" />
                <input name="Reserveer" value="Reserveer" type="submit" class="btn btn-primary"/>          
            }

            </div>
        </div>




        <!--Account sidebar-->
        <div class="grid_1 push_11">
            <div class="logo">
                <img src="~/Content/Images/4Events.jpg">
                <p class="logotext">ICT4Events</p>
            </div>
            @Html.ActionLink("Account", "Account", "Account", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
        </div>
 


