
@{
    ViewBag.Title = "MaterialView";
}
@using MvcApplicationEvents.Models;
@model List<Product>

<h2>MaterialView</h2>

<form action=@Url.Action("GetAll","MaterialView")>
    <input class="btn-primary" type="submit" value="Get it all" />
</form>

 <!-- <form action= RazerAT Url.Action("GetRented","MaterialView")>
    <input class="btn-primary" type="submit" value="Get all rented items" />
</form>
-->
@using (Html.BeginForm("Return", "MaterialView", Model))
{
    <input type="text" name="barcode" />
    <input type="submit" value="Return">
}

@using (Html.BeginForm("Rent", "MaterialView", Model))
{
    <input type="text" name="barcode" />
    <input type="submit" value="Rent">



    if (Model.Count != 0)
    {
        foreach (Product P in Model)
        {
                        <input type="hidden" value="@P.ID" name="id" />
    <p>@P.Brand</p>     <input type="hidden" value="@P.Brand" name="brand" />
    <p>@P.Serie</p>     <input type="hidden" value="@P.Serie" name="serie" />
    <p>@P.Type</p>      <input type="hidden" value="@P.Type" name="type" />
    <p>@P.Prijs</p>     <input type="hidden" value="@P.Prijs" name="price" />
    <p>@P.Aantal</p>    <input type="number" min="0" max="@P.Aantal" name="count" />

        }
    }
}