
@{
    ViewBag.Title = "MaterialView";
}
@using MvcApplicationEvents.Models;
@model List<Product>

<h2>MaterialView</h2>

<form action=@Url.Action("GetAll","MaterialView")>
    <input class="btn-primary" type="submit" value="Get it all" />
</form>

@using (Html.BeginForm("Rent", "MaterialView", Model))
{
    <input type="text" name="barcode" />
    <input type="submit" value="Submit">



if (Model.Count != 0)
{
    foreach (Product P in Model)
    {
    <p>@P.Brand</p> 
    <p>@P.Serie</p>  
    <p>@P.Type</p>  
    <p>@P.Prijs</p>  
    <p>@P.Aantal</p>    <input type="number" min="0" max="@P.Aantal" name="count" />

        }
    }
}