
@{
    ViewBag.Title = "Event";
}
@model MvcApplicationEvents.Models.Event

<br />
<div class="container_16">
    <div class="grid_3 push_4">
        <form>
            Eventnaam:
            <input type="text" name="Eventname"><br>
            Eventbeschrijving:
            <textarea type="text" name="Eventdescription" cols="40" rows="6"></textarea>
        </form>
        <p>Locatie:</p>
        <select>
            <option value="Tilburg">Tilburg</option>
            <option value="Eindhoven">Eindhoven</option>
            <option value="Amsterdam">Amsterdam</option>
            <option value="Den Haag">Den Haag</option>
        </select>
        <form>
            Eventdatum
            <input type="date" name="EventDate" min="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day"><br>
        </form>
        <form>
            Max aantal Bezoekers:
            <input type="number" name="quantity" min="5"><br />
        </form>
        @Html.ActionLink("Materiaalbeheer", "Accountview", "Accountview", new { area = "" }, new { @class = "btn btn-primary btnOpmaak5" })
        @Html.ActionLink("Aanwezige Bezoekers", "Accountview", "Accountview", new { area = "" }, new { @class = "btn btn-primary btnOpmaak5" })
        @Html.ActionLink("Reserveringen", "Accountview", "Accountview", new { area = "" }, new { @class = "btn btn-primary btnOpmaak5" })
        @Html.ActionLink("Opslaan", "Accountview", "Accountview", new { area = "" }, new { @class = "btn btn-primary btnOpmaak5" })
    </div>

    <!--Account sidebar-->
    <div class="grid_1 push_11">
        <div class="logo">
            <img src="~/Content/Images/4Events.jpg">
            <p class="logotext">ICT4Events</p>
        </div>
        @Html.ActionLink("Account", "Account", "Account", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
    </div> 
</div>