
@{
    ViewBag.Title = "Event";
}
@model MvcApplicationEvents.Models.Event

<br />
<div class="container_16">
    <div class="grid_3 push_4">
        @using (Html.BeginForm("btnChangeEvent", "Event", Model))
        {
            <p>Eventnaam:</p>
            <input id="eventname" type="text" name="Eventname" value="@Model.Name"><br>

            <p>Eventbeschrijving:</p>
            <textarea id="eventdesc" type="text" name="Eventdescription" cols="40" rows="6">@Model.Description</textarea>

            <p>Locatie:</p>
            <input id="locatie" type="text" name="Location" value="@Model.Location" readonly><br>

            <p>BeginDatum</p>
            <input type="text" name="EventDates" value="@Model.DateStart.ToString()" readonly><br>

            <p>EindDatum</p>
            <input type="text" name="EventDate" value="@Model.DateEnd.ToString()" readonly><br>

           <p>Max aantal Bezoekers:</p> 
            <input type="number" name="quantity" min="5" value="@Model.MaxVisitors" readonly><br />

            <input name="ButtonValue" value="Opslaan" type="submit"class="btn btn-primary btnOpmaak5"/>
            <input name="ButtonValue" value="GastenLijst" type="submit" class="btn btn-primary btnOpmaak5" />
            <input name="ButtonValue" value="Materiaal" type="submit" class="btn btn-primary btnOpmaak5" />
            <input name="ButtonValue" value="Reserveringen" type="submit" class="btn btn-primary btnOpmaak5" />

        }
       
    </div>

    <!--Account sidebar-->
    <div class="grid_1 push_11">
        <div class="logo">
            <img src="~/Content/Images/4Events.jpg">
            <p class="logotext">ICT4Events</p>
        </div>
        @Html.ActionLink("Account", "Account", "Account", new { area = "" }, new { @class = "btn btn-primary btnOpmaak2" })
    </div> 
</div>